@{ ViewData["Title"] = Model.name;}

<h3>@Model.name</h3>
<label>@Model.date.ToShortDateString()</label>
<div>@Model.description</div>
<div class="container bg-white border-bottom box-shadow p-2 w-50 mt-4">
    <div class="row d-flex justify-content-center"><h5>Answer</h5></div>
    <div class="row d-flex justify-content-center">
        @if (!ViewBag.signIn)
        {
            <label><a href="~/Account/SignIn">Sign in</a> to check answer</label>
        }
        else
        {
            if (ViewBag.solved)
            {
                <label>@Model.answer</label>
            }
            else
            {
                <form method="post">
                    <input type="hidden" name="userid" value="@ViewBag.userid" />
                    <input type="hidden" name="problemid" value="@Model.Id" />
                    <input type="number" name="answer" />
                    <input type="submit" value="Check" />
                </form>
            }
        }
    </div>
</div>