
@if (ViewBag.viewproblem == "all")
{
    ViewData["Title"] = "All problems";

    <h3>All problems</h3>
    <label>This case contains all problems.</label>
    <div class="container">
        <ul class="navbar-nav flex-grow-1">
            @foreach (var problem in Model)
            {
                <li class="nav-item bg-white border-bottom box-shadow p-2">
                    <h5><a class="nav-link text-dark w-100 " href="~/Home/Problems/@problem.Id">@problem.name</a></h5>
                    <div>
                        @if (problem.description.Length > 200)
                            @problem.description.Substring(0, 200)
                            else
                                @problem.description  ...
                    </div>
                </li>
            }
        </ul>
    </div>
}
else if (ViewBag.viewproblem == "one")
{
    ViewData["Title"] = Model.name;
    <h3>@Model.name</h3>
    <label>@Model.date</label>
    <div>@Model.description</div>
    <div class="container bg-white border-bottom box-shadow p-2 w-50 mt-4">
        <div class="row d-flex justify-content-center"><h5>Answer</h5></div>
        <div class="row d-flex justify-content-center">
            @if (ViewBag.user == null)
            {
                <label><a href="~/Home/SignIn">Sign in</a> to check answer</label>
            }
            else
            {
                if (ViewBag.solved)
                {
                    <label>@Model.answer</label>
                }
                else
                {
                    <form method="post">
                        <input type="hidden" name="userid" value="@ViewBag.user.Id"/>
                        <input type="hidden" name="problemid" value="@Model.Id"/>
                        <input type="number" name="answer"/>
                        <input type="submit" value="Check"/>
                    </form>
                }
            }
        </div>
      
      
    </div>
   

}
